<nav>
    <div class="site-title">
      <a href="/"><h1>Poem Pad</h1></a>
      <p>~ Poetry is the clear expression of mixed feelings...</p>
    </div>
    <ul>
      <li><a href="/">Poems</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/poems/create">Write Poem</a></li>
    </ul>
  </nav>