<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="not-found content">
    <h1 style="font-style: italic;">"To find light is to be free..."</h1>
    <br>
    <p>OOPS, page not found :)</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>