<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/poems" method="POST">
      <label for="username">Poet Name:</label>
      <input type="text" id="username" name="username" required>
      <label for="title">Poem title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Poem snippet:</label>
      <input type="text" id="snippet" name="snippet">
      <label for="body">Poem body:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>
  <br>
  <%- include("../partials/footer.ejs") %>
</body>
</html>